In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [2]:
!pip install pandas_profiling
from pandas_profiling import ProfileReport

Requirement already satisfied: pandas_profiling in c:\users\simin\anaconda3\lib\site-packages (3.6.3)
Requirement already satisfied: pandas!=1.4.0,<1.6,>1.1 in c:\users\simin\anaconda3\lib\site-packages (from pandas_profiling) (1.4.4)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\simin\anaconda3\lib\site-packages (from pandas_profiling) (6.0)
Requirement already satisfied: visions[type_image_path]==0.7.5 in c:\users\simin\anaconda3\lib\site-packages (from pandas_profiling) (0.7.5)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in c:\users\simin\anaconda3\lib\site-packages (from pandas_profiling) (4.64.1)
Requirement already satisfied: numpy<1.24,>=1.16.0 in c:\users\simin\anaconda3\lib\site-packages (from pandas_profiling) (1.21.5)
Requirement already satisfied: multimethod<1.10,>=1.4 in c:\users\simin\anaconda3\lib\site-packages (from pandas_profiling) (1.9.1)
Requirement already satisfied: matplotlib<3.7,>=3.2 in c:\users\simin\anaconda3\lib\site-packages (from pandas_profiling) (3.5.2)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\simin\anaconda3\lib\site-packages (from pandas_profiling) (0.12.3)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in c:\users\simin\anaconda3\lib\site-packages (from pandas_profiling) (0.11.2)
Requirement already satisfied: pydantic<1.11,>=1.8.1 in c:\users\simin\anaconda3\lib\site-packages (from pandas_profiling) (1.10.4)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\simin\anaconda3\lib\site-packages (from pandas_profiling) (0.1.12)
Requirement already satisfied: typeguard<2.14,>=2.13.2 in c:\users\simin\anaconda3\lib\site-packages (from pandas_profiling) (2.13.3)
Requirement already satisfied: statsmodels<0.14,>=0.13.2 in c:\users\simin\anaconda3\lib\site-packages (from pandas_profiling) (0.13.2)
Requirement already satisfied: requests<2.29,>=2.24.0 in c:\users\simin\anaconda3\lib\site-packages (from pandas_profiling) (2.28.1)
Requirement already satisfied: scipy<1.10,>=1.4.1 in c:\users\simin\anaconda3\lib\site-packages (from pandas_profiling) (1.9.1)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\simin\anaconda3\lib\site-packages (from pandas_profiling) (2.11.3)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in c:\users\simin\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->pandas_profiling) (0.2.0)
Requirement already satisfied: networkx>=2.4 in c:\users\simin\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->pandas_profiling) (2.8.4)
Requirement already satisfied: attrs>=19.3.0 in c:\users\simin\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->pandas_profiling) (21.4.0)
Requirement already satisfied: Pillow in c:\users\simin\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->pandas_profiling) (9.2.0)
Requirement already satisfied: imagehash in c:\users\simin\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->pandas_profiling) (4.3.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\simin\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->pandas_profiling) (2.0.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\simin\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->pandas_profiling) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\simin\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->pandas_profiling) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\simin\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->pandas_profiling) (1.4.2)
Requirement already satisfied: cycler>=0.10 in c:\users\simin\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->pandas_profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\simin\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->pandas_profiling) (4.25.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\simin\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->pandas_profiling) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\simin\anaconda3\lib\site-packages (from pandas!=1.4.0,<1.6,>1.1->pandas_profiling) (2022.1)
Requirement already satisfied: joblib>=0.14.1 in c:\users\simin\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->pandas_profiling) (1.1.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\simin\anaconda3\lib\site-packages (from pydantic<1.11,>=1.8.1->pandas_profiling) (4.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\simin\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->pandas_profiling) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\simin\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->pandas_profiling) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\simin\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->pandas_profiling) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\simin\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->pandas_profiling) (2.0.4)
Requirement already satisfied: patsy>=0.5.2 in c:\users\simin\anaconda3\lib\site-packages (from statsmodels<0.14,>=0.13.2->pandas_profiling) (0.5.2)
Requirement already satisfied: colorama in c:\users\simin\anaconda3\lib\site-packages (from tqdm<4.65,>=4.48.2->pandas_profiling) (0.4.5)
Requirement already satisfied: six in c:\users\simin\anaconda3\lib\site-packages (from patsy>=0.5.2->statsmodels<0.14,>=0.13.2->pandas_profiling) (1.16.0)
Requirement already satisfied: PyWavelets in c:\users\simin\anaconda3\lib\site-packages (from imagehash->visions[type_image_path]==0.7.5->pandas_profiling) (1.3.0)

In [3]:
# Set filelocation and read file
file='Data_Pathrise.xlsx'
cwd=os.getcwd()
path=os.path.join(cwd,file)
df = pd.read_excel(path)

# df=pd.read_excel('Data_Pathrise.xlsx')

In [4]:
profile = ProfileReport(df, title="Pandas Profiling Report")
profile.to_file('Data_Pathrise.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [5]:
# df info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           2544 non-null   int64
 1   pathrise_status              2544 non-null   object
 2   primary_track                2544 non-null   object
 3   cohort_tag                   2536 non-null   object
 4   program_duration_days        1928 non-null   float64
 5   placed                       2544 non-null   int64
 6   employment_status            2315 non-null   object
 7   highest_level_of_education   2486 non-null   object
 8   length_of_job_search         2470 non-null   object
 9   biggest_challenge_in_search  2520 non-null   object
 10  professional_experience      2322 non-null   object
 11  work_authorization_status    2260 non-null   object
 12  number_of_interviews         2326 non-null   float64
 13  number_of_applications       2544 non-null   int64
 14  gender                       2052 non-null   object
 15  race                         2526 non-null   object
dtypes: float64(2), int64(3), object(11)
memory usage: 318.1+ KB

In [6]:
df.describe()

,id,program_duration_days,placed,number_of_interviews,number_of_applications
count,2544.000000,1928.000000,2544.000000,2326.000000,2544.000000
mean,1272.500000,136.098548,0.375786,2.182287,36.500786
std,734.533866,125.860248,0.484420,2.959273,53.654896
min,1.000000,0.000000,0.000000,0.000000,0.000000
25%,636.750000,14.000000,0.000000,0.000000,9.000000
50%,1272.500000,112.000000,0.000000,1.000000,20.000000
75%,1908.250000,224.000000,1.000000,3.000000,45.000000
max,2544.000000,548.000000,1.000000,20.000000,1000.000000

In [7]:
df.isnull().sum()

id                               0
pathrise_status                  0
primary_track                    0
cohort_tag                       8
program_duration_days          616
placed                           0
employment_status              229
highest_level_of_education      58
length_of_job_search            74
biggest_challenge_in_search     24
professional_experience        222
work_authorization_status      284
number_of_interviews           218
number_of_applications           0
gender                         492
race                            18
dtype: int64

In [8]:
#Set Missing Value
df['program_duration_days'] = df.groupby(['placed'])['program_duration_days'].transform(lambda x: x.fillna(df['program_duration_days'].std()))   
df['number_of_interviews'] = df.groupby(['placed'])['number_of_interviews'].transform(lambda x: x.fillna(df['number_of_interviews'].std()))   
df['number_of_applications'] = df.groupby(['placed'])['number_of_applications'].transform(lambda x: x.fillna(df['number_of_applications'].std()))

In [10]:
#df.groupby(['pathrise_status'])['employment_status'].value_counts()
#Student
df['employment_status '].replace(np.nan,'Student',inplace=True)

In [11]:
#df.groupby(['pathrise_status'])['highest_level_of_education'].value_counts()
#Bachelor's Degree
df['highest_level_of_education'].replace(np.nan,'Bachelor''s Degree',inplace=True)

In [12]:
#df.groupby(['pathrise_status'])['length_of_job_search'].value_counts()
#Less than one month
#1-2 months
df['length_of_job_search'].replace(np.nan,'Less than one month',inplace=True)

In [13]:
#f.groupby(['pathrise_status'])['biggest_challenge_in_search'].value_counts()
#Hearing back on my applications
#Lack of relevant experience
df['biggest_challenge_in_search'].replace(np.nan,'Hearing back on my applications',inplace=True)

In [14]:
#df.groupby(['pathrise_status'])['professional_experience'].value_counts()
#1-2 years 
df['professional_experience'].replace(np.nan,'1-2 years',inplace=True)

In [15]:
#df.groupby(['pathrise_status'])['work_authorization_status'].value_counts()
#Citizen
#F1 Visa/CPT
df['work_authorization_status'].replace(np.nan,'Citizen',inplace=True)

In [16]:
#df.groupby(['pathrise_status'])['gender'].value_counts()
#Male
df['gender'].replace(np.nan,'Male',inplace=True)

In [17]:
#df.groupby(['placed'])['race'].value_counts()
#East Asian or Asian American
#Latino or Hispanic American
df['race'].replace(np.nan,'East Asian or Asian American',inplace=True)

In [18]:
#Get Object Columns
cols=[]
for column in df.columns:
    if df[column].dtype == 'object':
        cols.append(column)

#for i in cols:
#    print(i)
#    print(df[i].unique())
#    print('---------------------------------------------------------------')

In [19]:
profile = ProfileReport(df, title="Pandas Profiling Report")
profile.to_file('Data_Pathrise2.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [21]:
df.to_excel('preData_Pathrise.xlsx')